h1, h2, h3, h4, h5 {
  font-family: fieldwork, sans-serif;
  font-style: normal;
  font-weight: 400;
  line-height: 1.35em;
  margin: $spacing-none;
}

h1 {
  font-size: 1.75rem;
}

h2 {
  font-size: 1.5625rem;
}

h3 {
  font-size: 1.4375rem;
}

h4 {
  font-size: 1.25rem;
}

h5 {
  font-size: 1.125rem;
}
