@mixin heading {
  font-family: fieldwork, sans-serif;
  font-style: normal;
  font-weight: 400;
  line-height: 1.35em;
}

@mixin heading-1 {
  @include heading;
  font-size: 1.75rem;
}

@mixin heading-2 {
  @include heading;
  font-size: 1.5625rem;
}

@mixin heading-3 {
  @include heading;
  font-size: 1.4375rem;
}

@mixin heading-4 {
  @include heading;
  font-size: 1.25rem;
}

@mixin heading-5 {
  @include heading;
  font-size: 1.125rem;
}

h1, h2, h3, h4, h5 {
  @include heading;
  margin: $spacing-none;
}

h1 {
  font-size: 1.75rem;
}

h2 {
  font-size: 1.5625rem;
}

h3 {
  font-size: 1.4375rem;
}

h4 {
  font-size: 1.25rem;
}

h5 {
  font-size: 1.125rem;
}

p {
  font-size: 1rem;
  line-height: 1.5em;
}

a {
  color: $interactive-3;
  font-weight: 600;
  transition: color 100ms;
  text-decoration: underline;
  text-underline-offset: 0.25em;

  &:hover {
    color: $interactive-1;
  }

  &:focus {
    color: $interactive-1;
    outline: 0.0625em solid $interactive-1;
  }

}
