// Breakpoints
$breakpoint-tablet: 49rem; // 784px
$breakpoint-laptop: 75rem; // 1200px
$breakpoint-desktop: 87rem; // 1392px

$key-breakpoint-tablet: --breakpoint-tablet;
$key-breakpoint-laptop: --breakpoint-laptop;
$key-breakpoint-desktop: --breakpoint-desktop;

$breakpoints: (
  $key-breakpoint-tablet: $breakpoint-tablet,
  $key-breakpoint-laptop: $breakpoint-laptop,
  $key-breakpoint-desktop: $breakpoint-desktop
);

// Media Queries

@function get-breakpoint($key) {
  @if map-has-key($breakpoints, $key) {
    @return map-get($breakpoints, $key);
  }

  @error 'Unknown `#{$key}` in standard breakpoint map.';
  @return null;
}

@mixin media-min($point) {
  @media only screen and (min-width: $point) {
    @content;
  }
}

@mixin media-min-and-height($point, $height) {
  @media only screen and (min-height: $height) and (min-width: $point) {
    @content;
  }
}

@mixin at-breakpoint($key) {
  @include media-min(get-breakpoint($key)) {
    @content;
  }
}
