// Palette
$gray-00: #FFFFFF;
$gray-01: #F5F5F5;
$gray-02: #E5E5E5;
$gray-03: #CCCCCC;
$gray-04: #949494;
$gray-05: #808080;
$gray-06: #666666;
$gray-07: #595959;
$gray-08: #272727;
$gray-09: #212121;
$gray-10: #121212;

$navy: #033D58;

// $gray-00: #FFFFFF; hsl(0, 0%, 100%)
// $gray-01: #F5F5F5; hsl(0, 0%, 96%)
// $gray-02: #E5E5E5; hsl(0, 0%, 90%)
// $gray-03: #CCCCCC; hsl(0, 0%, 80%)
// $gray-04: #949494; hsl(0, 0%, 58%)
// $gray-05: #808080; hsl(0, 0%, 50%)
// $gray-06: #666666; hsl(0, 0%, 40%)
// $gray-07: #595959; hsl(0, 0%, 35%)
// $gray-08: #272727; hsl(0, 0%, 15%)
// $gray-09: #212121; hsl(0, 0%, 13%)
// $gray-10: #121212; hsl(0, 0%, 7%)


$UI-background-01: $gray-00;
$UI-background-02: $gray-02;
$UI-background-01-inverse: $gray-10;
$UI-background-02-inverse: $gray-08;
$text-01: $gray-09;
$text-01-inverse: $gray-00;
